body {
	background-color: grey;
}
a {
	color: lightgrey;
	text-decoration: none;
	font-size: 20px;
}



p {
	background-image: url('bgcs.webp');
	color: red;
	font-size: 25px;
}

#p {
	color: violet;
	font-size: 30px;
	background-color: darkcyan;
}

form {
	background-image: url('csbg1.jpeg');
	background-size: 100%;
}

a:hover{
	font-size: 100pt;
	color: skyblue;
}